doctype html
html(lang="en")
head
  title= "Task Details"
body
  h1 You are viewing task #{id} using a template
  p The title of the task is #{title}
  if completed
    p The status of the task is completed
  else
    p The status of the task is not completed
  p #{userName} is responsible for this