doctype html
html(lang="en")
head
  title= "Task Form"
  link(rel="stylesheet" href="/styles.css")
body
  form(action="/tasks" method="POST")
    label(for="title") Enter task's title:
    input(type="text" name="title")
    label(for="date") Date:
    input( name="date" type="date")
    label(for="completed") Completed:
    input(type="checkbox" name="completed")
    button(type="submit") Add Task

