doctype html
html(lang="en")
head
  title= "Task Details"
  link(rel="stylesheet" href="/styles.css")
body
  h1 You are viewing task #{id} using a template
  ul
    li The title of the task is #{title}
    if completed
      li The status of the task is completed
    else
      li The status of the task is not completed
    li #{userName} is responsible for this