body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; 
  height: 100vh; 
}

form {
  background-color: lightgray; /* Different background color */
  max-width: 400px; /* Maximum width */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px; /* Shadow */

  display: flex; 
  flex-direction: column; 

}


label,
select,
button {
  display: block;
  margin: 5px;
  /* text-align: center; */
}



